ip: 192.168.10.10
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    - { map: ~/voting-app, to: /home/vagrant/Code/voting }
sites:
    - { map: voting.app, to: /home/vagrant/Code/voting/public }
databases:
    - homestead
    - voting
name: voting-app
hostname: voting-app
